{% extends "LouvreBilletterieBundle:Billetterie:index.html.twig" %}

{% block form %}
    <div id="bloc_form">
        <div id="dateConnexion">{{ dateConnexion.format('d/m/Y')}}</div>
        <div id="heureConnexion">{{ dateConnexion.format('H')}}</div>
        {% for message in app.session.flashbag.get('erreur') %}
            <div class="flash-message">
                {{ message|trans }}
            </div>
        {% endfor %}
        <div id="step">
            <span id="step1" class="stepActuOn">1</span>
            <span>-</span>
            <span id="step2" class="stepActuOff">2</span>
            <span>-</span>
            <span id="step3" class="stepActuOff">3</span>
            <span>-</span>
            <span id="step4" class="stepActuOff">4</span>
        </div>
        <div id="bloc_form_affichage">
            <div class="intForm" id="secuHorraire">
                <div id="horraire">
                    <h2>
                        {% trans %}
                            louvre.accueil.horaire.titre
                        {% endtrans %}
                    </h2>
                    <p>
                        {% trans %}
                            louvre.accueil.horaire.message1
                        {% endtrans %}
                        <br>
                        {% trans %}
                            louvre.accueil.horaire.message2
                        {% endtrans %}
                    </p>
                </div>
                <div id="secu">
                    <h2>
                        {% trans %}
                            louvre.accueil.securite.titre
                        {% endtrans %}
                    </h2>
                    <p>
                        {% trans %}
                            louvre.accueil.securite.message
                        {% endtrans %}
                    </p>
                </div>
                <div id="reduit">
                    <h2>
                        {% trans %}
                            louvre.accueil.reduit.titre
                        {% endtrans %}
                    </h2>
                    <p>
                        {% trans %}
                            louvre.accueil.reduit.message1
                        {% endtrans %} 
                        <br>
                        {% trans %}
                           louvre.accueil.reduit.message2
                        {% endtrans %}
                    </p>
                </div>
                <div class="btnexsui1">                
                    <button id="next0" type="button">
                        {{ 'louvre.accueil.debut_but'|trans }}
                    </button>
                </div>
            </div>
            {{ form_start(formcommande) }}
            <div class="intForm" id="bloc_choix">
                {{ form_row(formcommande.dateReservation,
                   {'label': 'louvre.accueil.choix.date'|trans, 
                   'attr': {'placeholder': 'louvre.accueil.choix.date_place'|trans}}) 
                }}
                {{ form_row(formcommande.demiJournee, 
                    {'label': 'louvre.accueil.choix.type'|trans}) 
                }}
                <p class="valeursPanier">{{ 'louvre.accueil.choix.nb'|trans }}</p>   
                <div class="row">
                    <div class="col-xs-8">
                        {{ form_row(formcommande.qte) }}
                    </div>
                    <button id="addBillet" type="button" class="btPM">+</button>
                    <button id="supBillet" type="button" class="btPM">-</button>
                    <div class="btnexsui1">                
                        <button id="next1" type="button">
                            {{ 'louvre.accueil.next_but'|trans }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="intForm" id="bloc_billet">
                <div class="conteneurBillet">
                    {{ form_row(formcommande.billets, 
                        {'label': 'louvre.accueil.billet.titre'|trans })
                    }}
                </div>
                <button id="backB" type="button" ><</button>
                <button id="nextB" type="button" >></button>
                <div class="btnexsui2">                
                    <button id="back2" type="button">
                        {{ 'louvre.accueil.back_but'|trans }}
                    </button>
                    <button id="next2" type="button">
                        {{ 'louvre.accueil.next_but'|trans }}
                    </button>
                </div>
            </div>
            <div class="intForm" id="bloc_facturation">
                {{ form_row(formcommande.facturation, 
                    {'label': 'louvre.accueil.facturation.titre'|trans }) 
                }}
                <div class="btnexsui2">                
                    <button id="back3" type="button">
                        {{ 'louvre.accueil.back_but'|trans }}
                    </button>
                    <button id="next3" type="button">
                        {{ 'louvre.accueil.next_but'|trans }}
                    </button>
                </div>
            </div>
            <div class="intForm" id="bloc_validation">
                <h2>{{ 'louvre.accueil.validation.titre_f'|trans }}</h2>
                <p>{{ 'louvre.accueil.label.nom'|trans }} : <span id="ValNomFa"></span></p>
                <p>{{ 'louvre.accueil.label.prenom'|trans }} : <span id="ValPreFa"></span></p>
                <p>{{ 'louvre.accueil.label.pays'|trans }} : <span id="ValPaysFa"></span></p>
                <p>{{ 'louvre.accueil.facturation.mail'|trans }} : <span id="ValCourrielFa"></span></p>
                <h2>{{ 'louvre.accueil.validation.titre_r'|trans }}</h2>
                <p><span id="recap"></span></p>
                <p><span id="ValTotal"></span></p>
                <div class="btnexsui2">                
                    <button id="back4" type="button">
                        {{ 'louvre.accueil.back_but'|trans }}
                    </button>
                    <input type="submit" value="{{ 'louvre.accueil.paie_but'|trans }}" />
                </div>
            </div>
        {{ form_end(formcommande) }}
        </div>
        
    </div>

<div id="panier">
    <div class="well">
        <p>{{ 'louvre.accueil.choix.date'|trans }} : <span id="dateVisite">{{ 'louvre.accueil.panier.date_vide'|trans }}</span></p>
        <p>{{ 'louvre.paiement.label.type'|trans }} : <span id="typeBillet">{{ 'louvre.accueil.panier.type_vide'|trans }}</span></p>
        <p>{{ 'louvre.paiement.label.nb'|trans }} : <span id="nbPersonne">{{ 'louvre.accueil.panier.billet_vide'|trans }}</span></p>
        <h4>{{ 'louvre.accueil.label.panier'|trans }} :</h4>
        <p id="panierBillets"></p>
        <p id="affichageTotalPanier"></p>
        <p id="totalPanier"></p>
    </div>
</div>

{% endblock %}
