{% extends "LouvreBilletterieBundle:Billetterie:index.html.twig" %}

{% block form %}
    <div id="bloc_form">
        <div id="dateConnexion">{{ dateConnexion.format('d/m/Y')}}</div>
        <div id="heureConnexion">{{ dateConnexion.format('H')}}</div>
        {% for message in app.session.flashbag.get('erreur') %}
            <div class="flash-message">
                {{ message }}
            </div>
        {% endfor %}
        <div id="step">
            <span id="step1" class="stepActuOn">1</span>
            <span>-</span>
            <span id="step2" class="stepActuOff">2</span>
            <span>-</span>
            <span id="step3" class="stepActuOff">3</span>
            <span>-</span>
            <span id="step4" class="stepActuOff">4</span>
        </div>
        <div id="bloc_form_affichage">
            <div class="intForm" id="secuHorraire">
                <div id="horraire">
                    <h2>Horaires d'ouverture</h2>
                    <p>Le musée est ouvert tous les jours de 9h à 18h excepté le mardi.<br>
                    (Fermeture des salles à partir de 17h30)</p>
                </div>
                <div id="secu">
                    <h2>Rappel de sécurité</h2>
                    <p>Il n'est pas recommandé de venir au musée avec des sacs et
                    des valises. Ils seront dans tous les cas déposés au vestiaire
                    après avoir été contrôlés.</p>
                </div>
                <div id="reduit">
                    <h2>Tarif réduit</h2>
                    <p>Si vous choisissez d'appliquer le tarif réduit, un justificatif vous sera demandé à l'entrée. <br>
                    Sont concernés par ce tarif : les étudiants, les employés du musée ou d’un service du Ministère de la Culture, et les militaires.</p>
                </div>
                <div class="btnexsui1">                
                    <button id="next0" type="button">Débuter</button>
                </div>
            </div>
            {{ form_start(formcommande) }}
            <div class="intForm" id="bloc_choix">
                {{ form_row(formcommande.dateReservation, {'label': 'Date de votre visite'}) }}
                {{ form_row(formcommande.demiJournee, {'label': 'Choisissez votre type de billet'}) }}
                <p>Veuillez indiquer le nombre de visiteur</p>   
                <div class="row">
                    <div class="col-xs-8">
                        {{ form_row(formcommande.qte) }}
                    </div>
                    <button id="addBillet" type="button" class="btPM">+</button>
                    <button id="supBillet" type="button" class="btPM">-</button>
                    <div class="btnexsui1">                
                        <button id="next1" type="button">Suivant</button>
                    </div>
                </div>
            </div>
            <div class="intForm" id="bloc_billet">
                <div class="conteneurBillet">
                    {{ form_row(formcommande.billets, {'label': 'Informations nominatives de billet'}) }}
                </div>
                <button id="backB" type="button" ><</button>
                <button id="nextB" type="button" >></button>
                <div class="btnexsui2">                
                    <button id="back2" type="button">Précédent</button>
                    <button id="next2" type="button">Suivant</button>
                </div>
            </div>
            <div class="intForm" id="bloc_facturation">
                {{ form_row(formcommande.facturation, {'label': 'Informations de facturation'}) }}
                <div class="btnexsui2">                
                    <button id="back3" type="button">Précédent</button>
                    <button id="next3" type="button">Suivant</button>
                </div>
            </div>
            <div class="intForm" id="bloc_validation">
                <h2>Facturation</h2>
                <p>Nom : <span id="ValNomFa"></span></p>
                <p>Prenom : <span id="ValPreFa"></span></p>
                <p>Pays : <span id="ValPaysFa"></span></p>
                <p>Courriel : <span id="ValCourrielFa"></span></p>
                <h2>Recapitulatif de la commande</h2>
                <p><span id="recap"></span></p>
                <p><span id="ValTotal"></span></p>
                <div class="btnexsui2">                
                    <button id="back4" type="button">Précédent</button>
                    <input type="submit" value="Paiement" />
                </div>
            </div>
        {{ form_end(formcommande) }}
        </div>
        
    </div>

<div id="panier">
    <div class="well">
        <p>Date de visite : <span id="dateVisite">Aucune date selectionnée.</span></p>
        <p>Type de billet(s) : <span id="typeBillet">Aucun type de billet selectionné.</span></p>
        <p>Nombre de personne : <span id="nbPersonne">Aucun billet ajouté au panier.</span></p>
        <h4>Panier :</h4>
        <p id="panierBillets"></p>
        <p id="affichageTotalPanier"></p>
        <p id="totalPanier"></p>
    </div>
</div>

{% endblock %}