{% extends "LouvreBilletterieBundle:Billetterie:validation.html.twig" %}

{% block boutton %}
    {{ parent() }}
        <form action="" method="POST" class="intForm">
            <p class="aPayer">
                    <span>Total à payer : </span>
                    <span class="valeurRecap">
                        {{ commandeEnCours[0].commande.sousTotal }}€
                    </span> 
            </p>
           <div class="bstripe">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ publishable_key }}"
                    data-email="{{ commandeEnCours[0].commande.facturation.courriel }}"
                    data-image="{{ model.image|default("") }}"
                    data-name="{{ model.name|default("") }}"
                    data-description="{{ model.description }}"
                    data-amount="{{ model.amount }}"
                    data-locale="auto"
                    data-currency="EUR">
                </script>
            </div>
        </form>
    </div>
</div> 
{% endblock %}
