{% extends "LouvreBilletterieBundle:Billetterie:index.html.twig" %}

{% block form %}
{{ parent() }}

<div id="bloc_form_paiement">
   
   {% for message in app.session.flashbag.get('erreur') %}
        <div class="flash-message">
            {{ message|trans }}
        </div>
    {% endfor %}
    
    <div id="bloc_form_affichage">
        <div class="intForm msgrecover">
            <h2>{{ 'louvre.recover.titre'|trans }}</h2>
            <p>{{ 'louvre.recover.message'|trans }}</p>
        </div>
        <div class="intForm">
                {{ form(form) }}
        </div>
    </div>
</div>

{% endblock %}